* {
  background-color: black;
  color: white;
}

.header_title {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

a {
  text-decoration: none;
}

.header_main_content {
  font-size: 20px;
  padding: 20px;
  display: inline-block;
}

.header_main_contents {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 60px;
}

.main {
  display: flex;
  justify-content: center;
}

.main_contents {
  display: inline-flex;
  margin-top: 1px;
}

.main_contents img {
  width: 45vh;
  height: 45vh;
  margin-left: -150px;
  margin-right: 60px;
}

#name {
  font-size: 30px;
}

.about_content {
  font-size: 30px;
}

*::-webkit-scrollbar {
  display: none;
}
